html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

#section1 {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

#section1 > #image {
    position: absolute;
    height: 115vh;
    width: 100vw;
    object-fit: cover;

    z-index: -1;
}

#section1 > H1 {
    z-index: 1;
    font-size: 10vw;
    color: rgb(255, 255, 255);
    margin-top: 0vh;
    margin-right: 30vw;
}

#section2 {
    display: block;
    background-color: rgb(255, 255, 255);

    width: 100vw;
    padding-top: 2%;
}

#navbar {
    background: none;
    background-color: rgba(255, 255, 255, 0);
}

#navbar a {
    color: rgb(255, 255, 255);
}

#section2 H1 {
    width: 100vw;
    font-size: 8vh;
    text-align: center;
    margin-bottom: 2%;
    margin-top: -0.6%;
    height: 10vh;
}

#section3 H1 {
    width: 100vw;
    font-size: 6vh;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 0;
    height: 10vh;
}


#customer_card {
    background-color: rgba(219, 202, 202, 0.055);
    box-shadow: 0px 10px rgba(133, 118, 118, 0.231);

    width: 20vw;
    font-size: 1vw;

    overflow: hidden;
    border-radius: 10%;

    margin-bottom: 50px;

    transition-property: transform box-shadow;
    transition-duration: 1s;
}

@media (max-width: 500px) {
    #customer_card {font-size: 1.5vw; height: 40vw;}
}

#customer_card:nth-child(1) {
    box-shadow: -10px 10px rgba(133, 118, 118, 0.231);
}

#customer_card:nth-child(3) {
    box-shadow: 10px 10px rgba(133, 118, 118, 0.231);
}

#customer_card:hover {
    transform: scale(110%);
    box-shadow: 0px 0px rgba(133, 118, 118, 0.089);
}

#customer_card > img {
    width: 100%;
    height: 65%;

    object-fit: cover;
}

#customer_card > H3 {
    margin-top: 0;
    margin-left: 2%;
    
    margin-bottom: 0;
}

#customer_card > p {
    margin-top: 1%;
    margin-left: 2%;
}

#customer_card:nth-child(3) > p {
    margin-top: 1%;
    margin-left: 2%;

    margin-bottom: -100%;
}


#customer_section_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 2%;

    margin-left: 10.5%;
    margin-right: 10.5%;

}

#customer_section_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 1%;

    margin-left: 10.5%;
    margin-right: 10.5%;
}

#customer_section_3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 1%;

    margin-left: 10.5%;
    margin-right: 10.5%;
}

#section_line {
    display: block;
    background-color: black;
    height: 0.25vh;
    width: 72.8vw;
    margin: 0 auto;
    margin-top: -0.5%;
    margin-bottom: 3%;
}

#product > img {
    width: 90%;
    object-fit: cover;
    margin-left: 5%;
    margin-top: 4%;
    border-radius: 5%;
}

#product > #name {
    color: rgb(26, 45, 40);
    font-size: 1.5vw;
    margin-left: 2%;
}

#product > #weight {
    color: rgb(26, 45, 40);
    font-size: 1.2vw;
    margin-top: 0;
    margin-left: 2%;
}

#product > #price {
    color: green;
    font-size: 2vw;
    margin-left: 2%;
}

#product {
    width: 17vw;
    margin-top: 0;
    margin-bottom: 7vh;
    background-color: rgba(219, 202, 202, 0.231);
    border-radius: 5%;

    transition: 0.25s ease-out;

    transform: translateY(-7vh);
}

#product:hover {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.32);
}

#showreel {
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
}

@keyframes scrolling_products_animation {
    0% {
        transform: translateX(-50%);
    } 
    100% {
        transform: translateX(0);
    } 
}

#showreel {
    animation: scrolling_products_animation 30s linear infinite;
    width: 200vw;
}




