#section-header {
    text-align: center;
    width: 70vw;
    margin: 5vh auto 8vh auto;
    color: rgb(26, 45, 40);
}

#section-header p {
    font-size: 1.05rem;
    line-height: 1.6;
    margin-top: 2vh;
}

#column-split {
    position: relative;
    width: 80vw;
    margin: 0 auto;
}

#greece-image {
    position: relative;
}

#greece-image > img{
    width: 50vw;
    height: 100vh;
    object-fit: cover;

    margin-left: 20%;
}

.location {
    position: absolute;
    width: 20vw;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
    padding: 1vw;
    border-radius: 8px;
    color: rgb(26, 45, 40);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.08);
}

.location h3 {
    margin-top: 0;
    margin-bottom: 0.7vh;
}

.location p {
    margin: 0.5vh 0;
}

.mini-info {
    font-size: 0.85rem;
    opacity: 0.8;
}

.location.athens {
    bottom: 0%;
    left: 0%;
}

.location.thessaloniki {
    top: 0%;
    left: 0%;
}

.location.delphi {
    top: 0%;
    right: 0%;
}

.location.santorini {
    bottom: 0%;
    right: 0%;
}

.location > img {
    object-fit: cover;

    width: 100%;
    height: 25vh;

    border-radius: 7%;
}

p {
    font-size: 1vw !important;
}
H3 {
    font-size: 2vw !important;
}
H1 {
    font-size: 2vw !important;
}

@media (min-width: 700px) {
    p {
    font-size: 1.1vw !important;
    }
    H3 {
        font-size: 0.9vw !important;
    }
    H1 {
        font-size: 2vw !important;
    }
}
@media (min-width: 1800px) {
    p {
    font-size: 0.6vw !important;
    }
    H3 {
        font-size: 0.7vw !important;
    }
    H1 {
        font-size: 1.9vw !important;
    }
}
