body {
    background-color: #F9F5F0;
}

#page_container {
    display: grid;
    grid-template-columns: 1fr 1.1fr;

    height: 100%;
}

#page_container > * {
    margin: auto auto;
}

#header {
    font-size: 8rem;
}

#title {
    margin-top: 10vh;

    color: #3E3228;
}

#title > img {
    position: absolute;
    height: 100%;

    top: 0;
    z-index: -1;

    width: 60%;
    margin-left: -5vw;

    object-fit: cover;
}

#title > p {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: 9vw;
}

#title > H1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8vw;
}

#form {
    background-color: #f7efe6;
    border: 1px solid #B8BDB5;

    padding: 10px;
}

H3 {
    margin: 8px 0;
}

#submit {
    margin-top: 8%;
    width: 100%;
    background-color: rgb(227, 211, 190);
    color: #3E3228;
    border: 1px solid #B8BDB5;
}

#submit:hover {
    background-color: rgb(216, 193, 166);
}