body {
    margin: 0px;
}

#navbar {
    display: grid;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    height: 60px;
    grid-template-columns: 1fr 1fr;
}


#navbar > #buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#navbar > #icon {
    display: block;
    margin: auto 0;
    justify-self: left;
}

#navbar a {
    text-decoration: none;
    color: rgb(11, 19, 17);
    font-size: 100%;
}

#logout {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 100%;

    font-family: 'Times New Roman', Times, serif;
}
#logout:hover {
    background-color: rgba(0, 0, 0, 0.181);
}

@media (max-width: 800px) {
    #navbar a { font-size: 80%; }
}
@media (max-width: 550px) {
    #navbar a { font-size: 60%; }
}

#navbar > #icon {
    margin-left: 5vw;
}
