#column-split {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#column-split > #section-container {
    margin-top: -70px;
    grid-column-start: 2;

    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 0px;
}


#product > .addcart {
    width: 90%;
    font-size: 1.5vw;
    font-family: 'Courier New';

    display: block;
    margin: 0 auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    
    background-color: rgba(242, 224, 203, 0.251);
    border-color: rgba(146, 102, 48, 0);
    box-shadow: none;
    border-radius: 10%;
}

#product > img {
    width: 90%;
    object-fit: cover;
    margin-left: 5%;
    margin-top: 4%;
    border-radius: 5%;
}

#product > #name {
    color: rgb(26, 45, 40);
    font-size: 1.5vw;
    margin-left: 2%;
}

#product > #weight {
    color: rgb(26, 45, 40);
    font-size: 1.2vw;
    margin-left: 2%;
}

#product > #price {
    color: green;
    font-size: 2vw;
    margin-left: 2%;
}

#product {
    width: 17vw;
    margin-top: 0;
    margin-bottom: 7vh;
    margin-left: 5vw;
    background-color: rgba(219, 202, 202, 0.231);
    border-radius: 5%;

    transition: 0.25s ease-out;

    transform: translateY(-7vh);
}

#product:hover {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.32);
}

#column-split > #summary {
    margin: 0 auto;
    margin-top: 0px;
    margin-left: auto;
    font-size: large;
    text-decoration: none;
}

#summary {
    position: sticky;
    top: 10vh;
}

#column-split > H1 {
    margin-left: 7%;
    margin-bottom: 0;
}

#section-name {
    margin-top: 0px;
    margin-left: 5vw;
}

#section-container {
    margin-top: 0;
}


@media (max-width: 650px) {
    #column-split > #section-container {
        grid-template-columns: 1fr 1fr;
    }

    #product {
        width: 25vw;
    }
}
@media (max-width: 450px) {
    #column-split > #section-container {
        grid-template-columns: 1fr;
    }

    #product {
        width: 20vw;
    }
}

@media (max-width: 800px) {
    H1 { font-size: 150%; }
    p { font-size: 70%; }
    #column-split > #section-container { margin-top: -40px; } 
}
@media (max-width: 500px) {
    H1 { font-size: 140%; }
    p { font-size: 55%; }
}