#column-split {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#column-split > #section-container {
    grid-column-start: 2;

    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 0px;
}


#product > img {
    width: 90%;
    object-fit: cover;
    margin-left: 5%;
    margin-top: 4%;
    border-radius: 5%;
}

#product > #name {
    color: rgb(26, 45, 40);
    font-size: 1.5vw;
    margin-left: 2%;
}

#product > #weight {
    color: rgb(26, 45, 40);
    font-size: 1.2vw;
    margin-top: -0.8vh;
    margin-left: 2%;
}

#product > #price {
    color: green;
    font-size: 2vw;
    margin-left: 2%;
}

#product {
    width: 17vw;
    margin-top: 0;
    margin-bottom: 7vh;
    margin-left: 5vw;
    background-color: rgba(219, 202, 202, 0.231);
    border-radius: 5%;

    transition: 0.25s ease-out;

    transform: translateY(-7vh);
}

#product:hover {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.32);
}

#column-split > #summary {
    margin: 0 auto;
    margin-top: 5vh;
    font-size: large;
    text-decoration: none;
}

#summary {
    position: sticky;
    top: 10vh;
}

#column-split H1 {
    margin-left: 7%;
    margin-bottom: 0;
}

#section-name {
    display: block;
    height: 10vh;
    margin: 0;
}

#section-container {
    margin-top: -17vh;
}